[submodule "3rdparty/meshoptimizer"]
	path = 3rdparty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "3rdparty/tracy"]
	path = 3rdparty/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "3rdparty/The-Forge"]
	path = 3rdparty/The-Forge
	url = https://github.com/vtastek/The-Forge.git
	branch = mge-xe-vendor
