/.vs/
/packages/
/bin/
*.vcxproj.user
*.csproj.user
/.claude
/build
/morrgraphext-code-r212
/Morrowind_bsa/textures
/src/tracy
/CLAUDE.md
/Doxyfile
/html
/latex
/.leann/indexes/MGEXE
/.cache/clangd/index
/mgeHost64/bin/MSVC-Release
/MGEgui/bin/MSVC-Release
/MGEfuncs/bin/MSVC-Release
/io_scene_mw-master
