[submodule "3rdparty/meshoptimizer"]
	path = 3rdparty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "3rdparty/tracy"]
	path = 3rdparty/tracy
	url = https://github.com/wolfpld/tracy.git
